# dependencies
node_modules/
package-lock.json

# builds
dist/
build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Capacitor iOS (if you add iOS later)
ios/App/App.xcworkspace/
ios/App/build/

# env files (API keys, secrets)
.env
.env.local
